@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/fonts.css */
@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500; 
  font-style: normal; 
}

@font-face {
  font-family: 'SVN Gilroy';
  src: url('./assets/fonts/SVN-Gilroy SemiBold Italic.otf') format('opentype');
  font-weight: 600; 
  font-style: italic; 
}
